@import "../../scss/mixins";
@import "../../scss/variables";

.dropdownBtn {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    cursor: pointer;
}
.dropdownMenu {
    position: absolute;
    right: 2rem;
    z-index: $zIndex-dropdown;
    border-radius: 10px;
    background-color: $support-light-1;
    box-shadow: 5px 0 20px 5px rgba(0, 0, 0, 0.12);
    padding: calc(2rem - 0.6rem) 0;
    opacity: 0;
    transform: translate3D(0, -15px, 0);
    transition-property: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    display: none; 

    &.display {
        display: block;
    }
    &.show {
        opacity: 1;
        transform: none;
    }
    .dropdownItem > a {
        display: flex;
        align-items: center;
        padding: 0.6rem 2.5rem;

        > *:first-child {
            flex: 0 0 28px;
        }
    }
    .dropdownItem a {
        color: inherit;
        white-space: nowrap;
    }
}