.intro {
    padding: 6rem 0;

    &Container {
        display: flex;
        align-items: flex-end;
    }
    &Img {
        max-width: 480px;
    }
}

.introContent {
    flex: 1;

    h1 {
        margin-bottom: 5rem;
    }
    p {
        max-width: 500px;
        margin-bottom: 5rem;
    }
    button {
        margin-bottom: 10rem;
    }
    .introClients {
        display: flex;
        align-items: center;
        column-gap: 3.5rem;
    }
}
