body {
    font-family: 'Epilogue', sans-serif;
    font-size: $body;
    font-weight: 500;
    line-height: 1.5;
    color: $support-light-3;

    @include breakpoint-md {
        font-size: $body-sm;
    }
}
.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    @include font-size($h1);
    line-height: 1.05;
    font-weight: 700;
    color: $support-dark-1;
}