$support-light-1: #FFF;
$support-light-2: #fafafa;
$support-light-3: #696969;
$support-dark-1: #141414;
$support-dark-2: #474747;

$h1: 7.2rem;
$body: 1.8rem;
$body-sm: $body - 0.3rem;

$zIndex-menu: 10;
$zIndex-dropdown: 20;
$zIndex-btnMobile: 30;